<div class="container">
    <div class="nav">
      <div class="left">
        <img src="assets/images/logo.svg" />
        <p>PayShare</p>
      </div>
      <div class="right">
        <a href="#">Features</a>
        <a href="#">Pricing</a>
        <a href="#">For Team</a>
        <span></span>
        <a href="#">log in</a>
        <a href="#">Sign up</a>
      </div>
    </div>
    <div class="hero">
      <p class="heading">
        <span class="title">Easily Split Bills with <br />PayShare</span><br />
        <span class="sub-title">
          Simplify expenses for you and your friends. The ultimate app for <br />
          managing and sharing bills effortlessly.
        </span>
      </p>
      <a routerLink="/members" class="signup-btn">Start for free</a>
    </div>
  </div>
  